// --- BREAKPOINTS ---
$xs-min: 320px;
$xs-max: 424px;
$small-min: 425px;
$small-max: 767px;
$medium-min: 768px;
$medium-max: 1023px;
$large-min: 1024px;
$large-max: 1279px;
$xl-min: 1280px;

// --- LAYOUT ---
$desktop-min: $medium-min; // NOTE: If changing this, also change carousel breakpoint in FeaturedMaker.js

// --- COLORS ---
$mik-red: #d30e2c;
