.c-Video {
    padding: 0 0 1.5rem;
    text-align: left;

    @media (min-width: $medium-min) {
        padding: 0 0.5rem 1.8rem;
    }
}

.c-Video__skeleton {
    position: absolute;
    height: 100%;
}

.c-Video__video {
    margin-bottom: 0.5rem;

    @media (min-width: $large-min) {
        margin-bottom: 0.8rem;
    }
}

.c-Video__heading {
    margin: 0 0 0.2rem;
    font-size: 1em;
    line-height: 1.3;
    font-weight: normal;
}

// For two-column layout on mobile
.mel-string.mel-string-2-up .c-Video__heading {

    @media (max-width: $xs-max) {
        font-size: 0.9em;
    }
}

.c-Video__host {
    font-weight: bold;
}

.c-Video__content {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.3;
    color: #444;
}
