.c-CustomSelect-Menu {
    width: 320px;
    max-height: 320px;
    padding: 24px 0;
    text-align: left;
    border-radius: 4px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
